asciinema==2.4.0
bottle==0.13.2
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
colorlog==6.9.0
conan==2.15.0
conan_server==2.15.1
distro==1.8.0
fasteners==0.19
gcovr==8.3
idna==3.10
Jinja2==3.1.6
lxml==5.3.2
MarkupSafe==3.0.2
patch-ng==1.18.1
pluginbase==1.0.1
Pygments==2.19.1
PyJWT==2.10.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
six==1.17.0
urllib3==1.26.20
