home/Apps/*
home/Desktop/*
home/Documents/*
home/Downloads/*
home/Music/*
home/Pictures/*
home/Projects/*
home/Public/*
home/Templates/*
home/Videos/*
home/.conan2/p
home/.gitkraken
home/.conan2
home/.ssh


pyenv/*
dot_files/bash_history*

config/mozilla/*
config/BraveSoftware/*
config/GitKraken/*
config/themes

dot_files/rclone.conf

